.v-dialog__content .card--dialog {
    &.dl-create-menu {
        .v-input {
            ::placeholder {
                font-size: 1.4rem;
            }
        }
        .v-btn {
            min-width: 8rem;
        }
        .card__footer {
            background-color: var(--color-white);
        }
        .card__content {
            padding-bottom: 1.2rem;
            padding-top: 2.5rem;
        }
        .col-6 {
            margin: 0;
            position: relative;
        }
        .text-note {
            font-size: 1.2rem;
            color: alpha(var(--color-gray), 0.6);
            position: relative;
            padding-right: 0rem;
            padding-left: 2.2rem;
            margin-top: 0.8rem;
            line-height: 1.6;
            .v-icon {
                font-size: 1.6rem;
                color: alpha(var(--color-gray), 0.6);
                position: absolute;
                top: 0.2rem;
                left: 0.2rem;
            }
        }
        .cus-hint-re {
            .v-text-field__details {
                padding-left: 0;
                .v-messages__wrapper {
                    font-size: 1.2rem;
                    color: alpha(var(--color-gray), 0.6);
                    display: inline-flex;
                    align-items: center;
                    padding: 0.3rem 0;
                    position: relative;
                    margin-top: -0.4rem;
                    &::before {
                        content: "\F05D6";
                        display: inline-block;
                        font: normal normal normal 24px/1 "Material Design Icons";
                        font-size: inherit;
                        text-rendering: auto;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 1.6rem;
                        margin-right: 0.8rem;
                    }
                    &::after {
                        background-color: currentColor;
                        border-radius: 50%;
                        content: "";
                        display: inline-block;
                        height: 100%;
                        left: 0;
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
                .v-messages__message {
                    font-size: 1.2rem;
                    line-height: 1.6;
                }
                .error--text {
                    .v-messages__wrapper {
                        color: var(--color-red);
                    }
                }
            }
        }
        .v-input--selection-controls {
            margin-top: 0;
        }
        .v-input {
            .v-label {
                font-weight: 500;
                font-size: 1.4rem;
                color: var(--color-black);
            }
        }
        .label-gr {
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--color-black);
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .bg-icon {
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            background-color: alpha(var(--color-red), var(--level-1));
            i {
                color: var(--color-red);
                font-size: 2.4rem;
            }
        }
        .notification-text {
            p {
                font-size: 1.6rem;
                font-weight: 600;
                color: var(--color-heading);
            }
        }
        .label-gray {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: alpha(var(--color-gray), var(--level-3));
            margin-bottom: 0.8rem;
        }
        .btn--close {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            transition: all 0.4s ease;
            position: relative;
            left: 1.74rem;
            &:hover,
            &:focus {
                background-color: alpha(var(--color-red), var(--level-1));
                i {
                    color: var(--color-red);
                }
            }
            i {
                font-size: 2rem;
            }
        }
        .bk-no-field {
            font-size: 1.4rem;
            color: alpha(var(--color-gray), var(--level-3));
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-bg-gray);
            border-radius: 0.8rem;
            height: 4.8rem;
            margin-bottom: 1.2rem;
        }
        .add-field {
            cursor: pointer;
            color: var(--color-blue);
            font-size: 1.4rem;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            margin-bottom: 1.2rem;
            .v-icon {
                color: var(--color-blue);
                margin-right: 0.4rem;
            }
        }
    }
}

.form--template-field {
}
