.message--snackBar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-gap: 0.4rem;
	gap: 0.4rem;
	font-size: 1.2rem;
	font-weight: 500;

	> i {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.4rem;
		height: 2.4rem;
		//background-color: rgba(#fff, 0.25);
		border-radius: 50%;
		color: inherit;
		font-size: 1.8rem !important;
	}
}

.message--success {
	color: var(--color-green);
}

.message--info {
	color: var(--color-gray);
}


.message--danger {
	color: var(--color-red);
}
